body {
  background-image: url("background.png");
  background-repeat: repeat;
  font-size: 8pt;
  font-style: Verdana, Tahoma, sans-serif;
  margin: 0px;
}
h1 {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 3px 3px #999999;
}
header > div {
  background-image: url("bannerbg.png");
  background-repeat: repeat;
  height: 50px;
  text-align: center;
}
#main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid gray;
  border-radius: 20px;
  overflow: hidden;
}
article {
  width : 550px;
  float : left;
}
#score {
  font-size: 48pt;
  font-weight: bold;
  color: red;
  background-image: url("rbg.png");
  background-repeat: repeat-x;
}
#score img {
  vertical-align: bottom;
  height: 83px;
}
section {
  width: 47%;
  margin-left: 2%;
  float: left;
}
p {
  overflow: auto;
}
.comment  {
  font-size: 8pt;
  font-weight: bold;
  background-color: #E8DC9B;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 8px;
}
p > img {
  float: left;
  margin-right: 5px;
}
span {
  font-style: italic;
}
aside {
  width: 250px;
  background-color: #A2B964;
  font-size: 8pt;
  font-style: Arial, sans-serif;
  float: right;
}
dl {
  font-weight: bold;
  margin-left: 10pt;
}
dd {
  margin-bottom: 10pt;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
footer > p {
  background-color: #A2B964;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  clear: both;
}
#vali {
  position: fixed;
  right: 0px;
  bottom: 0px;
  opacity: 0.5;
}
